.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.courses > div {
  margin: auto;
  border: 1px solid black;
  width: 20%;
}

nav {
  display: flex;
  gap: 10px;
  list-style: none;
}